@charset "UTF-8";

@import 
url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

.title {
  overflow: hidden; 
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  color: #aa8f7b;
  font-family: 'Josefin Sans', sans-serif;
}

.title span {
  display: block;
  transform: translate(100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.title.-visible,
.title.-visible span {
  transform: translate(0, 0);
}

.sentence {
  overflow: hidden;
  transform: translate(-100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
  font-family: "Yu Gothic Medium";
  font-size: 16px;
  text-align: center;
}

.sentence span {
  display: block;
  transform: translate(100%, 0);
  transition: transform cubic-bezier(0.215, 0.61, 0.355, 1) 0.5s;
}

.sentence.-visible,
.sentence.-visible span {
  transform: translate(0, 0);
}

/****** Base style. ******/
body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}
